<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 am</td>
        <td>Introduction</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:20 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/openrefine-socialsci/01-introduction/index.html" target="_blank">1. Introduction to OpenRefine</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:30 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/openrefine-socialsci/02-working-with-openrefine/index.html" target="_blank">2. Working with OpenRefine</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:05 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/openrefine-socialsci/03-filter-sort/index.html" target="_blank">3. Filtering and Sorting with OpenRefine</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:25 am</td>        <!-- time    -->
        <td>BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>10:35 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/openrefine-socialsci/04-numbers/index.html" target="_blank">4. Examining Numbers in OpenRefine</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>10:55 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/openrefine-socialsci/05-scripts/index.html" target="_blank">5. Using scripts</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>11:15 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/openrefine-socialsci/06-saving/index.html" target="_blank">6. Exporting and Saving Data from OpenRefine</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>11:30 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/openrefine-socialsci/07-resources/index.html" target="_blank">7. Other Resources in OpenRefine</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>11:40 am</td>        <!-- time    -->
        <td>BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
        <td>12:00 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-socialsci/01-introduction/index.html" target="_blank">8. Introduction to Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>12:15 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-socialsci/02-basics/index.html/" target="_blank">9. Python Basics (Part 1)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:45 pm</td>        <!-- time    -->
        <td>QUESTIONS AND FEEDBACK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 14   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 am</td>        <!-- time    -->
        <td>Introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:15 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-socialsci/02-basics/index.html/" target="_blank">1. Python Basics (Part 2)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:55 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-socialsci/03-control-structures/index.html/" target="_blank">2. Python control structures</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:40 am</td>        <!-- time    -->
        <td>BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>11:00 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-socialsci/04-reusable/index.html/" target="_blank">3. Creating re-usable code</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>11:40 am</td>        <!-- time    -->
        <td>BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>11:50 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-socialsci/05-processing-data-from-file/index.html/" target="_blank">4. Processing data from a file (Part 1)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>12:45 pm</td>        <!-- time    -->
        <td>QUESTIONS AND FEEDBACK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>1:00 PM</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
