<div class="row">
  <div class="col-md-6">
	  <h3><a href="https://datacarpentry.org/openrefine-socialsci/01-introduction/index.html" target="_blank">Day 1</a></h3>
    <table class="table table-striped">
      <tr> <td>9:00 AM</td>  <td>Introduction</td> </tr>
      <tr> <td>9:20 AM</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> </td>  </tr>
      <tr> <td>9:25 AM</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/" target="_blank">Setup</a></td> </tr>
      <tr> <td>09:35 AM</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/02-working-with-openrefine/index.html" target="_blank">1. Working with OpenRefine</a></td> </tr>
      <tr> <td>10:10 AM</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/03-filter-sort/index.html" target="_blank">2. Filtering and Sorting with OpenRefine</a></td> </tr>
      <tr> <td>10:40 AM</td>  <td>BREAK</td> </tr>
      <tr> <td>10:50 AM</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/04-numbers/index.html" target="_blank">3. Examining Numbers in OpenRefine</a></td> </tr>
      <tr> <td>11:20 AM</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/05-scripts/index.html" target="_blank">4. Using scripts</a></td> </tr>
      <tr> <td>11:50 AM</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/06-saving/index.html" target="_blank">5. Exporting and Saving Data from OpenRefine</a></td> </tr>
      <tr> <td>12:20 PM</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/07-resources/index.html" target="_blank">6.  Other Resources in OpenRefine</a></td> </tr>
      <tr> <td>12:40 PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:50 PM</td>  <td><a href="https://datacarpentry.org/python-socialsci/01-introduction/index.html" target="_blank">Introduction to Python</td> </tr>
      <tr> <td>01:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>

<div class="col-md-6">
    <h3><a href="https://datacarpentry.org/python-socialsci/index.html" target="_blank">Day 2</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00 AM</td>  <td><a href="" target="_blank">Set Up</a></td> </tr>
      <tr> <td>09:10 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/02-basics/index.html/" target="_blank">1. Python Basics</a></td> </tr>
      <tr> <td>10:10 AM</td>  <td>Break</td> </tr>
      <tr> <td>10:20 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/03-control-structures/index.html/" target="_blank">2. Python control structures</a></td> </tr>
      <tr> <td>11:20 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/04-reusable/index.html/" target="_blank">3. Creating re-usable code</a></td> </tr>
      <tr> <td>12:10 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/05-processing-data-from-file/index.html/" target="_blank">4. Processing data from a file(Part 1)</a></td> </tr>
      <tr> <td>12:50 AM</td>  <td>Wrap up</td> </tr>
      <tr> <td>01:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>

<div class="col-md-6">
    <h3><a href="https://datacarpentry.org/python-socialsci/index.html/" target="_blank">Day 3</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/05-processing-data-from-file/index.html" target="_blank">Review of Day 2</a></td> </tr>
      <tr> <td>09:15 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/05-processing-data-from-file/index.html" target="_blank">1. Processing data from a file(Part 2)</a></td> </tr>
      <tr> <td>10:00 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/06-date-and-time/index.html" target="_blank">2. Date and Time</a></td> </tr>
      <tr> <td>10:35 AM</td>  <td>Break</td> </tr>
      <tr> <td>10:45 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/07-json/index.html" target="_blank">3. Processing JSON data</a></td> </tr>
      <tr> <td>11:40 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/08-Pandas/index.html" target="_blank">4. Reading data from a file using Pandas</a></td> </tr>
      <tr> <td>12:20 PM</td>  <td><a href="https://datacarpentry.org/python-socialsci/09-extracting-data/index.html">5. Extracting row and columns</a></td> </tr>
      <tr> <td>12:50 PM</td>  <td>Wrap up</td> </tr>
      <tr> <td>01:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>

<div class="col-md-6">
    <h3><a href="https://datacarpentry.org/python-socialsci/index.html" target="_blank">Day 4</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/09-extracting-data/index.html" target="_blank">Review of Day 3</a></td> </tr>
      <tr> <td>09:15 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/10-aggregations/index.html" target="_blank">1. Data Aggregation using Pandas</a></td> </tr>
      <tr> <td>09:45 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/11-joins/index.html" target="_blank">2. Joining Pandas Dataframes</a></td> </tr>
      <tr> <td>10:30 AM</td>  <td>Break</td> </tr>
      <tr> <td>10:40 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/12-long-and-wide/index.html" target="_blank">3.Wide and long data formats</a></td> </tr>
      <tr> <td>11:20 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/13-matplotlib/index.html" target="_blank">4. Data visualisation using Matplotlib</a></td> </tr>
      <tr> <td>12:15 PM</td>  <td><a href="https://datacarpentry.org/python-socialsci/14-sqlite/index.html" target="_blank">5. Accessing SQLite Databases </a></td> </tr>
      <tr> <td>12:45 PM</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td>  </tr>
      <tr> <td>12:50 PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>01:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
